@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Hanken Grotesk", sans-serif;
}
body{
    overflow: hidden;
    height: 10vh;
}
div.container{
   height: 90vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.draw{
    background: linear-gradient( to bottom ,hsl(252, 100%, 67%),hsl(241, 81%, 54%) );
    width: 500px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    box-shadow: 5px 5px 10px 3px rgba(0, 0,0, 1);
    -web-kit-box-shadow: 5px 5px 10px 3px rgba(0, 0,0, 1);
    -moz-box-shadow: 5px 5px 10px 3px rgba(0, 0,0, 1);
    transition:1s;
}
div.draw h1{
    color: white;
    font-weight: bolder;
}
div.draw button{
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 60px;
    color: white;
    font-weight: bold;
    background-color: hsl(224, 30%, 27%);
    transition: 1s;
    
}
div.draw button:hover{
    color: hsl(224, 30%, 27%);
    background-color: white;
}
div.draw button:active{
    padding: 20px 70px;
}
div.result{
    display: none;
    height: 400px;
    width: 600px;
    border-radius: 30px;
    position:relative;
    transition:1s;
}
div.result-div{
    background: linear-gradient( to bottom ,hsl(252, 100%, 67%),hsl(241, 81%, 54%) );
    border-radius: 30px;
    text-align: center;
    margin-right: 20px;
    margin-left:15px;
    width: 48%;
    box-shadow: 5px 5px 10px 3px rgba(0, 0,0, 1);
    -web-kit-box-shadow: 5px 5px 10px 3px rgba(0, 0,0, 1);
    -moz-box-shadow: 5px 5px 10px 3px rgba(0, 0,0, 1);
    
   
}
div.result-div h3{
    color: white;
    opacity: 0.8;
    margin-top: 20px;
    margin-bottom: 25px;
    
}
div.result-number{
    margin-bottom: 30px;
    border-radius: 100%;
    width: 90px;
    margin: 0 auto;
    padding: 20px;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    };

 .result-number p {
    color:white;
 }
 .result-div p{
    color:white;
    
    text-align:center;
 }
 .result-div span#text{
    display:block;
    font-size:2.5rem;
    font-weight:bold;
    margin-top:20px;
    margin-bottom:20px;
 }
 .summary{
    display: flex;
    flex-direction: column;
    position:absolute;
    left:51%;
    height:380px;
    background-color: white;
    border-radius: 30px;
    width: 48%;
    box-shadow: 5px 5px 10px 3px rgba(0, 0,0, 1);
    -web-kit-box-shadow: 5px 5px 10px 3px rgba(0, 0,0, 1);
    -moz-box-shadow: 5px 5px 10px 3px rgba(0, 0,0, 1);
    padding:10px;

 }
 .summary h3{
    margin-left:20px;
    font-weight: bold;
    color:#444;
    margin-bottom: 40px;
 }
 .summary-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap:20px;
 }
 div.summary-result{
    display:flex;
    gap: 15px;;
    width:150px;
 }
 #reacao p{
    color:hsl(0, 100%, 67%);
 }
 #memoria p{
    color:hsl(39, 100%, 56%);
 }
 #verbal p{
    color:hsl(166, 100%, 37%);
 }
 #visual p{
    color:hsl(234, 85%, 45%);
 }
 #reacao p span,#memoria p span, #verbal p span, #visual p span{
    color:black;
 }
 #reacao{
    background-color: #fff7f5;
    padding:10px 20px;
 }
 #memoria{
    background-color:#fdfdef;
    padding:10px 20px;
 }
 #verbal{
    background-color: #F2FBFA;
    padding:10px 20px;
 }
 #visual{
    background-color:#F3F3FF;
    padding:10px 20px;
 }

 .summary button{
    margin-top:40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 60px;
    color: white;
    font-weight: bold;
    background-color: hsl(224, 30%, 27%);
    transition: 1s;
    
 }
 .summary button:hover{
    color: hsl(224, 30%, 27%);
    background-color: #ccc;
 }
 .summary button:active{
    padding: 20px 70px;
 }
.summary-number{
    font-weight: bolder;
}
.attribution{
   margin-top: 20px;
}


/* responsivo */

@media (max-width:650px){
   body{
      overflow: scroll;
      height: 100vh;
  }
   div.draw{
      display: flex;
      width: 90%;
      height: auto;
      gap: 10px;

  }
  div.result{
   display: none;
   flex-direction: column ;
   height: 600px;
   width: 350px;
   border-radius: 30px;
   position: static;
   transition:1s;
}
.summary {
   position: static; 
   width: 90%; 
   height: 300px; 
   margin-top: 20px; 
 }
 div.result-div{
   width: 90%; 
   margin: 10px 0; 
 }
 .summary h3{
   text-align: center;
   margin-left:20px;
   font-weight: bold;
   color:#444;
   margin-bottom: 40px;
}
.result-div p{
   color:white;
   padding-bottom: 25px;
   text-align:center;
}
div.draw button{
   margin-bottom: 20px;
}
.attribution{
   margin-top: 200px;
}

}